.header {
    display: flex;
    color: #edd1b0;
    background-color:#3D6066;
    background-image: linear-gradient(to bottom right, #3D6066, #edd1b0);
    padding: 0px 8px 0px 8px;
}

.header img {
    margin: 16px 16px 16px 8px;
    filter: invert(90%) sepia(15%) saturate(734%) hue-rotate(331deg) brightness(96%) contrast(93%);
}

body {
    background-color: #3D6066;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}

a {
    color: #3D6066;
    text-decoration: none;
    font-weight: 600;
}

hr {
	color: #3D6066;
	margin: 16px 64px 32px;
	border: solid 1px #3D6066;	
}

.content {
    padding: 16px;
    background-color: #edd1b0;
}

.content img {
    border:6px solid #3D6066;
    border-radius:6px;
}