.excerpt {
    background-color: linen
}

.header {
    display: flex;
}

.header img {
    margin: 16px 16px 16px 8px;
}

body {
    background-color:antiquewhite;
    font-family:'Times New Roman', Times, serif
}