.header {
    display: flex;
}

.header img {
    margin: 16px 16px 16px 8px;
}

body {
    background-color: #edd1b0;
    font-family:'Times New Roman', Times, serif
}

a {
    color: teal;
    text-decoration: none;
    font-weight: 600;
}